@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.bg{
    background: url(images/moon.jpg);
    min-height:100vh;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
   
    
}
nav{
   
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    top:0;
    width:100%;
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.253);
    
   
    
    
}
    
.nav-links{
    display: flex;
    list-style: none;
    width:50%;
    height:100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    
    
}
.nav-links li a{
    color:#02A47F;
    text-decoration: none;
    font-size: 16px;
}
.hamburger{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 21px;
}
.hamburger .bar{
    height: 3px;
    width: 100%;
    background-color:#02A47F;
    
    border-radius: 10px;

}
#logo{
    
    cursor: pointer;
    
        
    
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    color:#02a47f;
    font-family: 'Montserrat';
}
section h1 {
    font-size: 2.5rem;
  }
  .big-text p{
      font-size: 1.5rem;
  } 

.big-text span{
    font-weight: bold;
}


.intro{
    background:black;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.slider{
    background-color: rgb(59, 148, 126);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform:translateY(100%);

}
.intro-text{
    color:#02a47f;
    font-family: 'Montserrat'; 
    font-size: 22px;
}
.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
.nav-links a{
    position: relative;
  }
  
.nav-links a:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #02a47f;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
.nav-links a:hover:after{
    width: 100%;
    left: 0;
    background: #02a47f;
  }
.about1 .bar1{
    position: absolute;
    width: 102px;
    height: 2px;
    left:50%;
    top:148%;
    transform: translate(-50%,-147%);
    
    border-bottom: 1px solid #02a47e6b;
}
.about1{
    background: url(images/night-sky.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
.about1 h1{
    font-size: 2.5rem;
}
.skills1{
background: url(images/star.jpg);
  
background-size: cover;
background-position: center;
background-attachment:fixed;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #FFEFBA;
    height: 40vh;
    font-family: 'Montserrat';
   
}
.maincard{
    min-height: 60vh;
    
}
.container{
   
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
       
 
}
.card {
    width: 20%;
    height: 200%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
    color:rgb(0, 0, 0);
    transition: 0.3s;
    
    
}
.heading{
    background-color: #FFEFBA;
    border-radius: 10px 10px 0 0;
    
}
.card .img{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
 
.card .front1 h1{
    text-align: center;
    line-height: 2rem;
    
}
.card .front1 h2{
    text-align: center;
    line-height: 5px;
    
   

}
.card:hover{
    transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.contact{
    height: 100vh;
    font-family: 'Montserrat'; 
    

    background: url(images/star.jpg);
  
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

}
.contact h1 {
   font-size: 3rem;
   color: #FFEFBA;
   padding: 100px 0px 0px;
   text-align: center;
   transition: all 4s ease-in-out; 
   

}
.php{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:0;
    min-height:60vh;
}
form{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
    transition: all 4s ease-in-out;
  
    
}
.form-control{
    width:400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFEFBA;
    font-size: 18px;
    
    
}
input{
    height: 45px;
    font-family: 'Montserrat'; 
}
::placeholder {
    color: #FFEFBA;
    opacity: 1; /* Firefox */
  }
  input[type=text]{
      color:#FFEFBA ;
  }
  input[type=email]{
    color:#FFEFBA ;
}
  
form textarea{
    font-family: 'Montserrat'; 
   
        color:#FFEFBA ;
   
}
form .submit{
    background:#bdb189;
    border-color: transparent;
    color:#fff;
    font-weight:bold;
    font-family: 'Montserrat'; 
    letter-spacing: 2px;
}
form .submit:hover{
    background-color:#FFEFBA ;
    cursor: pointer;
}
footer{
    background-color: rgb(36, 32, 32);
    min-height: 15vh;
    display: flex;
    align-items: center;

    justify-content: center;
    font-family: 'Montserrat'; 
    color:#FFEFBA;
    font-size: smaller;
    
   
    
   
   

}
.footer{
    width: 20%;
    height:20%;
    
        display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
  
    
}
.footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    text-align: center;
    
    
    color:#FFEFBA ;

}

@media screen and (max-width:767px){
    
    .hamburger{
        display:flex;
    }
    .nav-links{
       display: none;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       
       width: 100%;
       
    }
    
    
    
    .nav-links.show{
        display: flex;
    }
    .nav-links.hide{
        display:none;
    }
    .card{
        width: 70%;
    }
    
}
